<div class="PortfolioMajor">

    <div class="myWork">
        <div class="WorkBubbleSmall">
            <img src="./../assets/img/bubble_blue_small.svg">
        </div>
        My Work

        <div class="WorkSample">
            <p>
                This page is a sample of my work - please feel free to try <br> them out.
            </p>
            <div class="WorkBubbleMidBackground"></div>
        </div>
    </div>

    <!-- <div class="Projects" *ngFor="let project of Projects; let i = index;">
        <div class="title">{{project.title}}</div>
        <img class="icons_IMG-ArrayOutput" src="./../assets/img/projects/{{project.img}}">
        <div class="projectSkills">{{project.projectSkills}}</div>
        <p>{{project.description}}</p>
    </div> -->
    <div class="Projects_A">
        <!-- <div class="JoinBubbleBig"></div> -->
            <img class="icons_IMG-ArrayOutput " src="./../assets/img/projects/join.svg">

        <div class="infos">
            <div class="title">JOIN</div>
            <div class="projectSkills">Angular | Typescript | HTML | CSS | Firebase </div>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </p>
            
            <div class="links">
                <a href="https://github.com/Rafael-Go7/10_JOIN">GitHub</a>
                <a href="#">Live Test</a>
            </div>
            
        </div>
    </div>

    <div class="Projects_B">
    
        <div class="infos">
            <div class="title">El-Pollo Loco</div>
            <div class="projectSkills">Javascript | HTML | CSS</div>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
            
            <div class="links">
                <a href="https://github.com/Rafael-Go7/11_El_Pollo_Loco/">GitHub</a>
                <a href="#">Live Test</a>
            </div>
        </div>

        <img class="icons_IMG-ArrayOutput" src="./../assets/img/projects/epl.svg">
    </div>

    <div class="Projects_A">
        <!-- <div class="JoinBubbleBig"></div> -->
            <img class="icons_IMG-ArrayOutput " src="./../assets/img/projects/simpleCRM.svg">

        <div class="infos">
            <div class="title">Lieferando</div>
            <div class="projectSkills">Angular | Firebase </div>
            <p>A very Simple Customer Relationship Management system working with CRUD functionality.</p>
            
            <div class="links">
                <a href="https://github.com/Rafael-Go7/07_Lieferando">GitHub</a>
                <a href="#">Live Test</a>
            </div>
            
        </div>
    </div>

    <div class="Projects_B">
    
        <div class="infos">
            <div class="title">Pokédex</div>
            <div class="projectSkills">Javascript | HTML | CSS | Api </div>
            <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</p>
            
            <div class="links">
                <a href="https://github.com/Rafael-Go7/09_Pokedex-API">GitHub</a>
                <a href="#">Live Test</a>
            </div>
        </div>

        <img class="icons_IMG-ArrayOutput" src="./../assets/img/projects/pokedex.svg">
    </div>

    <!-- <div class="bubbleMid">
        <img src="./../assets/img/bubble_blue_middle.svg">
   
        <div class="bubbleSmall">
            <img src="./../assets/img/bubble_blue_middle.svg">
        </div>
    </div> -->

</div>