.imprintMajor{
    width: 100%;
    background: rgba(255, 255, 255, 1);
    padding-top: 100px;

}

.textBody{
    width: 80%;

    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;

    h1{
        font-family: 'Baloo';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 120%;
        color: #5988FF;
    }
}
