<footer>

    <div class="footerCentral">

        <img src="./../assets/img/logos/1_frontPage/logo_webDesign_CC00.svg">

        <div class="copyright">
            &#169; Rafael-Go7 2023

            <p>Impressum</p>
        </div>

            <div class="digitalLinks_footer">
                <div class="digiT">
                    <a href="#">
                        <img src="./../assets/img/logos/3_footer/logo_1_Git_white.svg">
                    </a>
                </div>
                <div class="digiT">
                    <a href="#"><img src="./../assets/img/logos/3_footer/logo_2_Email_white.svg"></a>
                 </div>
    
                <div class="digiT">
                    <a href="#"><img src="./../assets/img/logos/3_footer/logo_3_LinkedIn_white.svg"></a>
                </div>
            </div>
    </div>
</footer>