footer{
    height: 600px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    display: flex;
    align-items: center;

}

.footerCentral{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    img{
        height: 100px;
    }
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;

    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        
        margin-top: 20px;
    }
}

.digitalLinks_footer{
    display: flex;
    align-items: center;
}