.frontBoxMajor {
    // height: calc(100vh - 17px);
    height: 100vh;
    // max-height: 100%;
    width: 100vw;
    max-width: 100%;
    margin-right: 10%;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    display: flex;
    // justify-content: flex-end;
    // top: 0;
    position: relative;
    z-index: 0;

    background-image: url("/assets/img/bubble_blue_big_front.svg");
    background-size: 70vh;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: top;
  
}

.welcome {
    margin-top: 200px;
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    padding-right: 10%;
    z-index: 1;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(24px, 7.5vw, 64px);
        line-height: 100%;
        color: #5988FF;
        margin: 0;
        
    }

    // img{
    //     display: none;
    //     z-index: 5;
    // }
    
    font-family: 'Baloo Bhai Regular';
    font-weight: 400;
    font-style: normal;
    font-size: clamp(48px, 7.5vw, 128px);
    line-height: 100%;
    color:#5988FF;
}

.welcomePhoto {
    position: relative;
    margin-left: 8%;
    bottom: 0;
    z-index: 3;

    img {
        position: absolute;
        bottom: 0;
        height: 90vh;
    }
  
}

// .welcomePhoto_responsive{
    
// }

.scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 23px;
        color: rgba(89, 136, 255, 1);
    }

    .line{
        height: 330px;
        width: 2px;
        background-color:#5988FF;
    }

    // img {
    //     height: 330px;
    //     width: 5px;
    // }
}

.rightBottomCorner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.digitalLinks {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 200px;
    margin-bottom: 60px;
    // position: absolute;
    // bottom: 0;

    // position: absolute;
    // right: 0px;
    // bottom: 0px;

    img {
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }

}

.digiT {
    z-index: 3;

    a {
        width: 100px;
        display: flex;
        justify-content: flex-end;

        img {
            transition: all 75ms ease-out;
        }

        &:hover {
            img {
                transform: translateX(-30px);
            }
        }
    }
}

// .bubbleMid{
//     position: relative;
//     left: 40%;
//     top: 50px;
//     background-image: url("/assets/img/bubble_blue_middle.svg");
//     background-repeat: no-repeat;
//     z-index: 0;
// }


@media screen and (min-width: 1430px) and (max-width: 1570px) {

    .welcome {
        font-size: 100px;
        line-height: 100%;

        p {
            font-size: 64px;
            line-height: 100%;
        }

    }

}


@media screen and (min-width: 1250px) and (max-width: 1429px) {

    .frontBoxMajor{
        margin-right: 5%;
    }

    .welcome {
        padding-right: 5%;
        font-size: 100px;
        line-height: 100%;

        p {
            font-size: 64px;
            line-height: 100%;
        }

    }

    .rightBottomCorner {
        right: 5%;
    }

}


@media screen and (min-width: 1250px) and (max-width: 1349px) {

    .frontBoxMajor{
        margin-right: 5%;
        background-size: 60vh;
    }

    .welcome {
        padding-right: 5%;
        font-size: 100px;
        line-height: 100%;

        p {
            font-size: 64px;
            line-height: 100%;
        }

    }

    .welcomePhoto {
        margin-left: 3%;
    }

    .rightBottomCorner {
        right: 5%;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1249px) {

    .frontBoxMajor{
        margin-right: 2%;
        background-size: 60vh;
    }

    .welcome {
        padding-right: 2%;
        font-size: 100px;
        line-height: 100%;

        p {
            font-size: 64px;
            line-height: 100%;
        }

    }

    .welcomePhoto {
        margin-left: 3%;
    }

    .rightBottomCorner {
        right: 2%;
    }
}


@media screen and (min-width: 1090px) and (max-width: 1199px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 90vh;
    }

    .welcome {
        margin-top: 150px;
        position: absolute;
        left: 0;
        padding-left: 10%;
        font-size: 100px;
        line-height: 100%;
        color:White;
        // z-index: 3;

        p {
            font-size: 64px;
            line-height: 100%;
            color: white;
            word-break: break-all;
        }

    }

    .welcomePhoto {

        img{
            height: 62vh;

        }
    }

    // .toolsBottom a:hover img{
    //     filter: invert(54%) sepia(99%) saturate(674%) hue-rotate(165deg) brightness(92%) contrast(93%);
    // }

    .rightBottomCorner {
        right: 2%;
    }

    .digitalLinks {
        padding-left: 2%;

    }
}


@media screen and (min-width: 947px) and (max-width: 1089px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 90vh;
    }

    .welcome {
        margin-top: 150px;
        position: absolute;
        left: 0;
        padding-left: 10%;
        font-size: 100px;
        line-height: 100%;
        color:White;
        // z-index: 3;

        p {
            font-size: 64px;
            line-height: 100%;
            color: white;
            word-break: break-all;
        }

    }

    .welcomePhoto {

        img{
            height: 62vh;

        }
    }

    .scroll {

        p{
            color: white;
        }

        .line{
            background-color: white;
        }
    }

    .rightBottomCorner {
        right: 2%;
    }

    .digitalLinks {
        padding-left: 100px;

    }
}


@media screen and (min-width: 821px) and (max-width: 945px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size:  95%;
    }

    .welcome {
        margin-top: 150px;
        position: absolute;
        left: 0;
        padding-left: 10%;
        font-size: 100px;
        line-height: 100%;
        color:White;
        // z-index: 3;

        p {
            font-size: 64px;
            line-height: 100%;
            color: white;
            word-break: break-all;
        }

    }

    .welcomePhoto {
        margin-left: 20%;
        img{
            height: 62vh;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);

        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}


@media screen and (min-width: 713px) and (max-width: 820px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 100%;
        
    }

    .welcome {
        margin-top: 150px;
        position: absolute;
        left: 0;
        padding-left: 10%;
        font-size: 100px;
        line-height: 100%;
        color:White;
        // z-index: 3;

        p {
            font-size: 64px;
            line-height: 100%;
            color: white;
            word-break: break-all;
        }

    }

    .welcomePhoto {
        margin-left: 20%;
        img{
            height: 62vh;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}


@media screen and (min-width: 545px) and (max-width: 712px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 70vh;
        // background-position-y: 75%;
    }

    .welcome {
        margin-top: 200px;
        position: absolute;
        left: 0;
        padding-left: 10%;
        font-size: 80px;
        line-height: 100%;
        color:White;
        // z-index: 3;

        p {
            font-size: 44px;
            line-height: 100%;
            color: white;
            word-break: break-all;
        }

    }

    .welcomePhoto {
        margin-left: 10%;
        img{
            height: 62vh; 
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}

@media screen and (min-width: 420px) and (max-width: 544px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 80vh;
    }

    .welcome {
        margin-top: 200px;
        position: absolute;
        // left: 0;
        padding-left: 10%;
        line-height: 100%;
        color:White;
        word-break: break-all;

        p {
            line-height: 100%;
            color: white;
            word-break: break-all;
        }
    }

    .welcomePhoto {
        margin-left: 2%;

        img{
            height: 52vh; 
            max-width: auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}

@media screen and (min-width: 370px) and (max-width: 419px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 80vh;
    }

    .welcome {
        margin-top: 200px;
        position: absolute;
        left: 0;
        padding-left: 10%;
        line-height: 100%;
        color:White;
        word-break: break-all;

        p {
            line-height: 100%;
            color: white;
            word-break: break-all;
        }
    }

    .welcomePhoto {
        margin-left: 2%;

        img{
            height: 42vh; 
            max-width: auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}