.frontBoxMajor {
    height: 100vh;
    max-width: 100%;
    
    margin-right: 10%;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);

    display: flex;
    position: relative;
    z-index: 0;

    background-image: url("/assets/img/bubble_blue_big_front.svg");
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: top;
  
}

.welcome {
    margin-top: 150px;
    margin-right: -5%;
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    z-index: 1;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(24px, 7.5vw, 64px);
        line-height: 120%;
        color: #5988FF;
        margin: 0;
        
    }

    h1{
        font-family: 'Baloo Bhai Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 128px;
        line-height: 120%;
        color:#5988FF;
    }
    
}

.welcomePhoto {
    position: relative;
    margin-left: 3%;
    bottom: 0;
    z-index: 3;

    img {
        position: absolute;
        bottom: 25%;
        width: 40vw;
        border: 1px solid black;
        border-radius: 5px;
    }
  
}

.scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 23px;
        color: rgba(89, 136, 255, 1);
    }

    .line{
        height: 330px;
        width: 2px;
        background-color:#5988FF;
    }

}

.rightBottomCorner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
}

.digitalLinks {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 200px;
    margin-bottom: 60px;

    img {
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }

}

.digiT {
    z-index: 3;

    a {
        width: 100px;
        display: flex;
        justify-content: flex-end;

        img {
            transition: all 75ms ease-out;  // // good UserExperience between 50ms - 200ms
        }

        &:hover {
            img {
                transform: translateX(-30px);
            }
        }
    }
}

// .IT-Logo{
//     background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
//     border-radius: 100%;

//     img {
//         object-fit: contain;
//         width: 40px;
//         height: 40px;
//         margin-top: 25px;
//     }
// }


//    ----   Responsive Design   ----   //


@media screen and (min-width: 1601px) and (max-width: 1700px) {

    .welcome {
        margin-top: 180px;
        h1{
            font-size: 112px;
            line-height: 100%;
        }

        p {
            font-size: 64px;
            line-height: 100%;
        }
    }

    .welcomePhoto {

        img {
            bottom: 30%;
        }
    }

}


@media screen and (min-width: 1519px) and (max-width: 1600px) {

    .welcome {
        margin-top: 180px;
        h1{
            font-size: 112px;
            line-height: 100%;
        }

        p {
            font-size: 64px;
            line-height: 100%;
        }
    }

    .welcomePhoto {

        img {
            bottom: 32%;
        }
    }

}


@media screen and (min-width: 1500px) and (max-width: 1518px) {

    .frontBoxMajor{
        margin-right: 5%;
    }

    .welcome {
        margin-top: 180px;
        padding-right: 5%;

        h1{
            font-size: 112px;
            line-height: 100%;
        }

        p {
            font-size: 64px;
            line-height: 100%;
        }
    }

    .welcomePhoto {

        img {
            bottom: 30%;
        }
    }

    .rightBottomCorner {
        right: 5%;
    }
}


@media screen and (min-width: 1325px) and (max-width: 1499px) {

    .frontBoxMajor{
        margin-right: 2%;
        background-size: 55vw;
    }

    .welcome {
        margin-top: 180px;
        padding-right: 2%;
        margin-right: 0;

        h1{
            font-size: 96px;
            line-height: 100%;
        }

        p {
            font-size: 56px;
            line-height: 100%;
        }
    }

    .welcomePhoto {

        img {
            bottom: 33%;
        }
    }

    .rightBottomCorner {
        right: 2%;
    }
}


@media screen and (min-width: 1181px) and (max-width: 1324px) {
    .frontBoxMajor{
        margin-right: 5%;
        background-size: 90vh;
    }

    .welcome {
        margin-top: 100px;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: 100px;
            color:White;
        }

        p {
            font-size: 56px;
            color: white;
            word-break: keep-all;
        }
    }

    .welcomePhoto {
        margin-left: 12%;

        img{
            bottom: 20%;
        }
    }

    .rightBottomCorner {
        right: 2%;
    }

    .digitalLinks {
        padding-left: 2%;
    }
}


@media screen and (min-width: 1019px) and (max-width: 1180px) {
    .frontBoxMajor{
        margin-right: 0;
        background-size: 90vh;
    }

    .welcome {
        margin-top: 100px;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: 100px;
            color:White;
        }


        p {
            font-size: 56px;
            color: white;
            word-break: keep-all;
        }
    }

    .welcomePhoto {
        margin-left: 12%;

        img{
            bottom: 23%;
        }
    }

    .scroll {
        p{
            color: white;
        }

        .line{
            background-color: white;
        }
    }

    .rightBottomCorner {
        right: 2%;
    }

    .digitalLinks {
        padding-left: 260px;
    }
}


@media screen and (min-width: 870px) and (max-width: 1020px) {
    .frontBoxMajor{
        margin-right: 0;
        background-size:  95%;
    }

    .welcome {
        margin-top: 100px;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: 100px;
            color:White;
        }

        p {
            font-size: 56px;
            color: white;
            word-break: keep-all;
        }

    }

    .welcomePhoto {
        margin-left: 12%;

        img{
            width: 60vw;
            bottom: 15vh;
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }
}


@media screen and (min-width: 735px) and (max-width: 869px) {
    .frontBoxMajor{
        margin-right: 0;
        background-size: 105%; 
    }

    .welcome {
        margin-top: 100px;
        margin-right: 0;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: 100px;
            color:White;
        }

        p {
            font-size: 56px;
            color: white;
            word-break: keep-all;
        }
    }

    .welcomePhoto {
        margin-left: 12%;

        img{
            width: 65vw;
            bottom: 18vh;

        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }
}


@media screen and (min-width: 545px) and (max-width: 734px) {
    .frontBoxMajor{
        margin-right: 0;
        background-size: 80vh;
    }

    .welcome {
        margin-top: 100px;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: 86px;
            color:White;
        }

        p {
            font-size: clamp(24px, 7.5vw, 44px);
            color: white;
        }
    }

    .welcomePhoto {
        margin-left: 12%;

        img{
            top: 40%;
            height: auto;
            width: 70vw;
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}

@media screen and (min-width: 420px) and (max-width: 544px) {
    .frontBoxMajor{
        margin-right: 0;
        background-size: 80vh;
    }

    .welcome {
        margin-top: 100px;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: clamp(48px, 15.5vw, 128px);
            color:White;
        }

        p {
            font-size: clamp(24px, 7.5vw, 44px);
            color: white;
        }
    }

    .welcomePhoto {
        margin-left: 12%;

        img{

            top: 40%;
            height: auto;
            width: 80vw;
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}

@media screen and (min-width: 280px) and (max-width: 419px) {
    .frontBoxMajor{
        margin-right: 0;
        background-size: 80vh;
    }

    .welcome {
        margin-top: 120px;
        position: absolute;
        left: 0;
        padding-left: 10%;

        h1{
            font-size: clamp(48px, 15.5vw, 128px);
            color:White;
        }

        p {
            font-size: clamp(24px, 7.5vw, 44px);
            color: white;
            word-break: keep-all;
        }
    }

    .welcomePhoto {
        margin-left: 12%;

        img{

            top: 45%;
            height: auto;
            width: 80vw;
        }
    }

    .scroll {
       display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .digitalLinks {
       display: none;
    }

}