<div class="frontBoxMajor">
    <img src="./../assets/img/bubble_blue_big_front.svg">

    <div class="welcome">
        <p>Hello! I am Rafael</p>

        <div >
            FRONTEND DEVELOPER
        </div>
    </div>

    <div class="welcomePhoto">
        <img src="./../assets/img/welcome_photo.svg">
    </div>

    <div class="bubbleMid">
        <img src="./../assets/img/bubble_blue_middle.svg">
    </div>

     <div class="rightBottomCorner">
        <div class="scroll">
            <p>Scroll</p>
            <img src="./../assets/img/Scroll_line_blue_front_Vector 10.svg">
        </div>

        <div class="digitalLinks">
            <a href="#"><img src="./../assets/img/logos/1_frontPage/logo_GitHub_Vector.svg"></a>
            <a href="#"><img src="./../assets/img/logos/1_frontPage/logo_email_Vector.svg"></a>
            <a href="#"><img src="./../assets/img/logos/1_frontPage/logo_LinkedIn_Vector.svg"></a>
        </div>
    </div>
</div>