<!-- <header class="primary-header">
    <img src="./../assets/img/logos/1_frontPage/logo_webDesign_CC00.svg">

    <div class="navMenu">
        <a href="#AboutMe">About Me</a>
        <a href="#Skills">Skills Set</a>
        <a href="#MyWork">My Work</a>
    </div> -->
<!-- 
    <div class="container">
        <div class="nav-wrapper">
            <a class="logo" [routerLink]="['/']">Sinan Simsek</a>

            <nav class="primary-navigation" id="primary-navigation">
                <ul class="nav-list">
                    <li><a href="#about-me">About me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li> -->
                <!-- </ul>
            </nav>

    <button class="hamburger">
        <div class="bar"></div>
    </button>

    <nav class="mobile-nav">
        <ul role="list" class="mobile-nav-list">
            <li><a href="#about-me">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header> -->

<header class="primary-header">
    <div class="container">
        <div class="nav-wrapper">
            <a class="logo" [routerLink]="['/']"><img src="./assets/img/logos/1_frontPage/logo_webDesign_CC00.svg"></a>

            <nav class="primary-navigation" id="primary-navigation">
                <ul class="nav-list">
                    <li><a href="#about-me">About me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <!-- <li><a href="#contact">Contact</a></li> -->
                </ul>
            </nav>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
        </div>
    </div>
    <nav class="mobile-nav">
        <ul role="list" class="mobile-nav-list">
            <li><a href="#about-me">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>