<header>
    <a class="logo" routerLink="/"><img src="./assets/img/logos/1_frontPage/logo_webDesign_CC00.svg"></a>
        
        <div class="nav-wrapper">
            
            <nav class="navMenu" id="primary-navigation">
                <ul class="nav-list">
                    <li><a href="#about-me">About me</a></li>
                    <li><a href="#skills">Skills Set</a></li>
                    <li><a href="#portfolio">My Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
        </div>
  
    <nav class="mobile-nav">
        <ul role="list" class="mobile-nav-list">
            <li><a href="#about-me">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
