.ContactMajor{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-direction: column;
    background: linear-gradient(white, #ecf1ff);
    
    h2{
        font-family: 'Baloo Bhai Regular';
        font-weight: 400;
        font-style: normal;
        font-size: clamp(45px, 7vw, 90px);
        // font-size: 90px;
        line-height: 100%;
        color:#5988FF;
    }


    .contactSub{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 50px;
    }

    .upBTNdiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        a{
            background-image: url('/assets/img/arrow_up_white_default.svg');
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
            border: none;
        
            &:hover{
                background: url('/assets/img/arrow_up_blue_default.svg');
                background-repeat: no-repeat;
                cursor: pointer;
            }

        }

        .upBTNdiv_Bubble {
            margin-top: 35px;
            
            img {
                height: 75px;
                width: auto;
                margin-bottom: 50px;
            }
        }
        
    }
}

.problemToSolve{
    width: 45%;

    h4{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: clamp(23px, 2vw, 32px);
        // font-size: 32px;
        line-height: 120%;
        color: #5988FF;
    }
    
    p{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: rgba(0, 0, 0, 1);
        margin-top: 20px;
        margin-bottom: 5px;
       
    }

    span{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #000000;
        color: #5988FF;
    }

    .bubbleMid{
        position: relative;
        height: 300px;
        max-width:220px;
        left: 40%;
        top: 50px;
        background-image: url("/assets/img/bubble_blue_middle.svg");
        background-repeat: no-repeat;
        z-index: -1;
    }

}

form {
    height: 500px;
    width: 55%;
    // min-width: 50%;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:40px;

    button{
        position: absolute;
        bottom: 0;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 100%;
        color: #5988FF;
        
        box-sizing: border-box;

        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;

        width: 200px;
        height: 58px;

        /* style 2/Style 2 blue/blue */

        border: 2px solid #5988FF;
        /* s2 shadow */

        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
        border-radius: 10px;

        &:hover{
            cursor: pointer;
            background: rgba(#fff, 1);
        }

        &:active{
            color: #5988FF;
            border: 2px solid #5988FF;
        }

        &.disabled{
            opacity: 0.2;
            color:#0c1016;
        }
    }
}


     
.contactInputs{
    min-width: 90%;
    margin-left: 10%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
        
    .contactInputsOrder{
        display: flex;
        align-items: center;
        width: 100%;        
        border: 1px solid #5988FF;
        border-radius: 10px;
        z-index: 2;
        background: #FFFFFF;

        input{
            box-sizing: border-box;

            /* Auto layout */
            
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 25px;
            gap: 10px;
            // border: 1px solid #5988FF;
            border-radius: 10px;
            border: none;
            outline: none;
            
            width: 90%;
            // height: 50px;
            
            /* White */
            
            background: #FFFFFF;
            /* style 2/Style 2 blue/blue */ 
            // outline: none;
            z-index: 0;

            // &.ng-untouched {
            //     border: 1px solid #5988FF;
            // }
            // &.ng-dirty{
            //     border: 1px solid red !important;
            // }
            // &.ng-valid {
            //     border: 1px solid green !important;
            // }

        }
    
        img {
        height: 34px;
        }       
    }

    .error {
        color: red;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }

}


.contactTextarea{
    min-width: 90%;
    margin-left: 10%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: relative;
            
    .contactTextareaOrder{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        border: 1px solid #5988FF;
        border-radius: 10px;
        z-index: 2;
        background: #FFFFFF;

        textarea{
            box-sizing: border-box;
        
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 15px 25px;
            gap: 10px;
            width: 90%;
            height: 202px;
            /* White */
            background: #FFFFFF;
            border: none;
            outline: none;
            resize: none;
            border-radius: 10px;

            // &.ng-untouched {
            //     border: 1px solid #5988FF;
            // }
            // &.ng-dirty{
            //     border: 1px solid red !important;
            // }
            // &.ng-valid {
            //     border: 1px solid green !important;
            // }

        }

        img {
            height: 34px;
            margin-top: 7px;
        }
    }
    
    .error {
        color: red !important;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }
    
}



// .error{
//     // bottom: -20px;
//     height: 30px;
//     color: red;
//     font-size: 12px;
//     margin: 0;

// }


//    ----   Responsive Design   ----   //


@media screen and (min-width: 280px) and (max-width: 830px) {

    .contactSub{
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        margin-top: 50px;
    }

    .problemToSolve{
        width: 100%;
        margin-bottom: 40px;
    }
    
    form{
        width: 100%;
    
        .contactInputs{
            width: 100%;
            margin-left: 0%;
        }

        .contactTextarea{
            width: 100%;
            margin-left: 0%;
            min-height: 320px;
        }

        input{
            width: 100%;
            margin-left: 0;
        }

        textarea{
            width: 100%;
            margin-left: 0;
        }
    }



}