<div class="ContactMajor">
    Contact

    <div class="contactSub">

        <div class="problemToSolve">
            Got a problem to solve?

            <p>Contact me through this form,
                I am interested in hearing you,
                knowing your ideas and contributing
                to your projects with my work.</p>

            <span>Need a Frontend developer? Contact me!</span>
        </div>

        <form [formGroup]="contactForm" (submit)="sendMail()" ngNativeValidate #myForm>
            <!-- <div class="contact-input"> -->

                    <input formControlName="name" type="text" placeholder="Your name" required #nameField>
                        <!-- <ng-container *ngIf="contactForm.controls['name'] as name"> -->
                            <ng-container *ngIf="contactForm.controls['name'].dirty">
                                <p class="error">Please enter your name!</p>
                            </ng-container>
                        <!-- </ng-container> -->
                    
                    
                    <input formControlName="email" type="email" placeholder="Your email" required #emailField>
                    <ng-container *ngIf="contactForm.controls['email'].errors?.['email']">
                        <!-- <ng-container *ngIf="contactForm.controls['email'] as email"> -->
                            <ng-container *ngIf="contactForm.controls['email'].dirty || contactForm.controls['email'].errors?.['required']">
                                <p class="error">Your email is required!</p>
                            <!-- </ng-container> -->
                         </ng-container>
                    </ng-container>

                    <textarea formControlName="message" placeholder="Your message ..." required #messageField></textarea>
                        <ng-container *ngIf="contactForm.controls['message'].errors?.['minlength']">
                            <p class="error" > Messages must be at least {{contactForm.controls['message'].errors?.['minlength'].requiredLength}} characters long!</p>
                        </ng-container>

                <button [disabled]="!(contactForm.valid&& (contactForm.dirty || contactForm.touched))" type="submit" (click)="onNavigate()" #sendButton>Say hello ;)</button>
            <!-- </div> -->
        </form>
    </div>
</div>