.aboutMeMajor{
    min-height:60vh;        // height vs. min-height?
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    background-color: white;
}

.workTogether {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;


    h2{
        font-family: 'Baloo Bhai Regular';
        font-weight: 400;
        font-style: normal;
        // font-size: 121px;
        font-size: clamp(64px, 7vw, 121px);
        line-height: 100%;
        color:#5988FF;
    
        margin-bottom: 40px;
    }
}

.AboutMe{
    max-width: 50%;
    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 23px;
        // font-size: clamp(23px, 7vw, 23px);
        line-height: 120%;
        color: black;
    }

    a{
        width: 254px;
        height: 58px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        border: 2px solid #5988FF;
        border-radius: 10px;
        margin-top: 40px;

        background-color: transparent;

        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 23px;
        line-height: 120%;
        color:#5988FF;
        text-decoration: none;

        &:hover{
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            color: white;
            // cursor: pointer;
            box-shadow: (5px 5px 15px rgba(0, 0, 0, 0.15));
        }

        &:active{
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            color: white;
            border: 2px solid white;
            box-shadow: (5px 5px 15px rgba(0, 0, 0, 0.15));          
        }
    }


}

// .bubbleMid_aboutMe {
//     display: flex;
//     justify-content: space-between;
//     background-image: url("/assets/img/bubble_blue_middle.svg");
//     height: 210px;
//     z-index: 3;
//     position: relative;
//         margin-top: -100px;
//         margin-left: 45%;
    
//     // img {
//     //     height: 210px;
//     //     position: relative;
//     //     margin-top: -100px;
//     //     margin-left: 45%;
//     //     z-index: 3;
//     // }
// }

// .bubbleSmall{
//     margin-right: 15%;
//     img {
//         height: 80px;
//         position: relative;
//         margin-top: 30px;
//         z-index: 3;
//     }
// }


//    ----   Responsive Design   ----   //


@media screen and (min-width: 320px) and (max-width: 1430px) {

    .workTogether {
        // display: flex;
        flex-direction: column !important;
        // min-width: 100%;
        // justify-content: space-between;
        // align-items: center;
    }

    .AboutMe{
        max-width: 100%
    }
}

