<div class="aboutMeMajor">

    <!-- <div class="bubbleMid_aboutMe">
        <img src="./../assets/img/bubble_blue_middle.svg">
   
        <div class="bubbleSmall">
            <img src="./../assets/img/bubble_blue_middle.svg">
        </div>
    </div> -->

    <div class="workTogether">
    
        <div class="letsWork">Let's work<br> together</div>

        <div class="AboutMe">
            <p>I am a Front-end developer based in Munich,
            Germany. I enjoy helping designers
            and companies bring their ideas into real life. I am
            looking forward to continuing my developer
            career with a job in a junior web developer
            position.
            <br>
            <br>
            If you think I’d be a good match for your projects,
            contact me!</p>
            
            <a href="#Contact">Send a message</a>
        </div>
        
    </div>

    
</div>