<div class="aboutMeMajor">

    <div class="bubbleMid">
        <img src="./../assets/img/bubble_blue_middle.svg">
   
        <div class="bubbleSmall">
            <img src="./../assets/img/bubble_blue_middle.svg">
        </div>
    </div>

    <div class="workTogether">
    
        <div class="letsWork">Let's work<br> together</div>

        <div class="AboutMe">
            <p>I am a Front-end developer based in Munich,<br>
            Germany. I enjoy helping designers<br>
            and companies bring their ideas into real life. I am<br>
            looking forward to continuing my developer<br>
            career with a job in a junior web developer<br>
            position.<br>
            <br>
            If you think I’d be a good match for your projects,<br>
            contact me!</p>
        </div>
    </div>

    <a href="#">Send a message</a>
</div>