.skillsSetMajor{
    min-height:60vh;            // height vs. min-height?
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);

    display: flex;
    align-items: center;
    flex-direction: column;

    p{
        font-family: 'Baloo Bhai Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 96px;
        line-height: 100%;
        color: #FFFFFF;

        margin-top: 80px !important;
        margin: 0;
    }
}

.skillsSet{
    display: flex;
    flex-direction: column;
    min-width: 100%;

}

.skillsRow_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    // flex-wrap: wrap;
    // margin-top: 40px;

}

.skillsRow_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    margin-bottom: 40px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    // margin-left: 80px;
    // margin-right: 80px;
    width: 60px;

    img {
        height: 75px;
        width: 75px;
    }
}

.skillDescription{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 830px) {
    
    .skillsSetMajor{
        padding-bottom: 30px;

        p{
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .skillsSet{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .skillsRow_1{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        min-width: 0;
        height: 100%;
        // flex-wrap: wrap;
        // margin-top: 40px;
    
    }

    .skillsRow_2{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        min-width: 0;
        margin-bottom: 0;
        // flex-wrap: wrap;
        // margin-top: 40px;
    
    }
}